html {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #24292e;
}

body {
    min-width: 500px;
    margin: 0;
}

.hidden {
    display: none !important;
}

.must-hidden {
    display: none !important;
}

.hints {
    padding-top: 0.6em;
    padding-left: 1em;
    font-style: italic;
}

.head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1em;
    padding-top: 0.3em;
    width: 100%;
    background-color: white;
}

.breadcrumb {
    font-size: 1.25em;
    padding-right: 0.6em;
}

.breadcrumb>a {
    color: #0366d6;
    text-decoration: none;
}

.breadcrumb>a:hover {
    text-decoration: underline;
}

/* final breadcrumb */
.breadcrumb>b {
    color: #24292e;
}

.breadcrumb>.separator {
    color: #586069;
    padding: 0 0.25em;
}

.breadcrumb svg {
    height: 100%;
    fill: rgba(3, 47, 98, 0.5);
}

.toolbox {
    display: flex;
    margin-right: 10px;
}

.toolbox-btn {
    display: flex;
    align-items: center;
    padding: 0.3em 0.6em;
    cursor: pointer;
    background-color: #3499ff;
    text-decoration: none;
}

.toolbox-btn-red {
    display: flex;
    align-items: center;
    padding: 0.3em 0.6em;
    cursor: pointer;
    text-decoration: none;
}

.toolbox-btn:hover {
    background-color: #3499ff;
}

.toolbox>a,
.toolbox>div {
    /* vertically align with breadcrumb text */
    height: 1.1rem;
}

.toolbox .control {
    cursor: pointer;
    padding-left: 0.25em;
}

.upload-file input {
    display: none;
}

.upload-file label {
    cursor: pointer;
}

.searchbar {
    display: flex;
    flex-wrap: nowrap;
    width: 246px;
    height: 22px;
    background-color: #fafafa;
    transition: all .15s;
    border: 1px #ddd solid;
    border-radius: 15px;
    margin-bottom: 2px;
}

.searchbar #search {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 16px;
    padding: 1px;
    background-color: transparent;
    border: none;
    outline: none;
}

.searchbar .icon {
    color: #9a9a9a;
    padding: 3px 3px;
    cursor: pointer;
}

.main {
    padding-left: 1em;
}

.empty-folder {
    font-style: italic;
}

.uploaders-table th,

.paths-table {
    border-spacing: 0px;
}

.paths-table th {
    text-align: left;
    font-weight: unset;
    color: #5c5c5c;
    white-space: nowrap;
    width: 0px;
}

.uploaders-table td,
.paths-table td {
    white-space: nowrap;
}

.uploaders-table .cell-status {
    width: 80px;
    padding-left: 0.6em;
}

.cell-icon {
    width: 0px;
}

.cell-status span {
    display: inline-block;
}

.paths-table {
    padding: 20px;
    width: 100%;
}

.paths-table thead a {
    color: unset;
    text-decoration: none;
}

.paths-table thead a>span {
    padding-left: 2px;
}

.paths-table tbody tr:not(.selected):hover {
    background-color: transparent;
}

.paths-table .cell-actions {
    width: 90px;
    display: flex;
    padding-left: 0.6em;
}

.paths-table .cell-mtime {
    width: 120px;
    padding-left: 0.6em;
}

.paths-table .cell-size {
    text-align: right;
    width: 70px;
    padding-left: 0.6em;
}

.path svg {
    height: 16px;
    fill: rgba(3, 47, 98, 0.5);
    padding-right: 0.5em;
    vertical-align: text-top;
}

.path {
    list-style: none;
}

.path a {
    color: #0366d6;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-decoration: none;
    max-width: calc(100vw - 375px);
    min-width: 200px;
}

.path a:hover {
    text-decoration: underline;
}

.action-btn {
    padding-right: 0.3em;
    cursor: pointer;
}

.uploaders-table {
    padding: 0.5em 0;
}

.uploader {
    padding-right: 1em;
}

.loading-indicator {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.editor {
    width: 100%;
    height: calc(100vh - 5rem);
    border: 1px solid #ced4da;
    outline: none;
    padding: 5px;
}

.toolbox-right {
    margin-left: auto;
    margin-right: 2em;
}

.save-btn {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.user-btn {
    display: flex;
    align-items: center;
}

.user-name {
    padding-left: 3px;
}

.not-editable {
    font-style: italic;
}

.retry-btn {
    cursor: pointer;
}

@media (min-width: 768px) {
    .path a {
        min-width: 400px;
    }
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
    }

    html,
    .breadcrumb>b,
    .searchbar #search {
        color: #fff;
    }

    .uploaders-table th,
    .paths-table th {
        color: #ddd;
    }

    svg,
    .path svg,
    .breadcrumb svg {
        fill: #fff;
    }

    .head {
        background-color: #111;
    }

    .searchbar {
        background-color: #111;
        border-color: #fff6;
    }

    .searchbar svg {
        fill: #fff6;
    }

    .path a {
        color: #3191ff;
    }

    .paths-table tbody tr:hover {
        /*background-color: #1a1a1a;*/
    }

    .editor {
        background: black;
        color: white;
    }

}

#batch-operation-btn {
    margin-top: 10px;
    text-align: left;
}

button {
    /* Generic styles for all buttons */
    background-color: #f44336;
    /* A red color for the delete action */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    /* Slightly darker red on hover for better user interaction */
    background-color: #d32f2f;
}

button:active {
    /* Slightly lighter red when the button is clicked */
    background-color: #c62828;
}

button:focus {
    /* Add a focus style to maintain accessibility */
    outline: none;
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5);
}

.nonselect {
    cursor: default;
    /* Change cursor to default pointer */
    user-select: none;
    /* Prevent text selection */
}

.disabled {
    color: #ccc;
    /* Change the text color to a light grey */
    cursor: not-allowed;
    /* Change the cursor to indicate that the item is not allowed to be interacted with */
    opacity: 0.6;
    /* Make the item appear faded */
    pointer-events: none;
    /* Prevent any mouse interaction like clicks */
    user-select: none;
    /* Prevent text selection */
}

.selected {
    background-color: #ddd;
}

#customContextMenu {
    display: none;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    min-width: 150px;
}

#customContextMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#customContextMenu ul li {
    padding: 8px 15px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

#customContextMenu ul li:hover {
    background-color: #f5f5f5;
}


.menu-href {
    color: #333;
    text-decoration: none;
}

.menu-href:hover,
.menu-href:focus {
    text-decoration: none;
}

#tree {
    height: 350px;
    overflow-y: auto;
}

.inline {
    display: inline;
    float: left;
}

.buttons-container {
    display: flex;
}


ul.jqtree-tree {
    list-style: none outside;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
}

ul.jqtree-tree.jqtree-dnd {
    touch-action: none;
}

ul.jqtree-tree ul.jqtree_common {
    list-style: none outside;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    display: block;
}

ul.jqtree-tree li.jqtree-closed>ul.jqtree_common {
    display: none;
}

ul.jqtree-tree li.jqtree_common {
    clear: both;
    list-style-type: none;
}

ul.jqtree-tree .jqtree-toggler {
    border-bottom: none;
    color: #333;
    text-decoration: none;
    vertical-align: middle;
}

ul.jqtree-tree .jqtree-toggler:hover {
    color: #000;
    text-decoration: none;
}

ul.jqtree-tree .jqtree-toggler.jqtree-closed {
    background-position: 0 0;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
    margin-right: 0.5em;
}

ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {
    margin-left: 0.5em;
}

ul.jqtree-tree .jqtree-element {
    cursor: pointer;
    position: relative;
    display: flex;
}

ul.jqtree-tree .jqtree-element:has(.jqtree-title-button-right) {
    display: block;
}

ul.jqtree-tree .jqtree-title {
    color: #1c4257;
    vertical-align: middle;
}

ul.jqtree-tree .jqtree-title-button-left {
    margin-left: 1.5em;
}

ul.jqtree-tree .jqtree-title-button-left.jqtree-title-folder {
    margin-left: 0;
}

ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 4px;
}

ul.jqtree-tree li.jqtree-folder.jqtree-closed {
    margin-bottom: 1px;
}

ul.jqtree-tree li.jqtree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
}

ul.jqtree-tree li.jqtree-ghost span {
    display: block;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    border: solid 2px #0000ff;
    border-radius: 100px;
    height: 8px;
    width: 8px;
    position: absolute;
    top: -4px;
    left: -6px;
    box-sizing: border-box;
}

ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
    background-color: #0000ff;
    height: 2px;
    padding: 0;
    position: absolute;
    top: -1px;
    left: 2px;
    width: 100%;
}

ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
    margin-left: 48px;
}

ul.jqtree-tree span.jqtree-border {
    position: absolute;
    display: block;
    left: -2px;
    top: 0;
    border: solid 2px #0000ff;
    border-radius: 6px;
    margin: 0;
    box-sizing: content-box;
}

ul.jqtree-tree li.jqtree-selected>.jqtree-element,
ul.jqtree-tree li.jqtree-selected>.jqtree-element:hover {
    background-color: #97bdd6;
    background: linear-gradient(#bee0f5, #89afca);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

ul.jqtree-tree .jqtree-moving>.jqtree-element .jqtree-title {
    outline: dashed 1px #0000ff;
}

ul.jqtree-tree.jqtree-rtl {
    direction: rtl;
}

ul.jqtree-tree.jqtree-rtl ul.jqtree_common {
    margin-left: 0;
    margin-right: 12px;
}

ul.jqtree-tree.jqtree-rtl .jqtree-toggler {
    margin-left: 0.5em;
    margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title {
    margin-left: 0;
    margin-right: 1.5em;
}

ul.jqtree-tree.jqtree-rtl .jqtree-title.jqtree-title-folder {
    margin-right: 0;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost {
    margin-right: 0;
    margin-left: 10px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-circle {
    right: -6px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-line {
    right: 2px;
}

ul.jqtree-tree.jqtree-rtl li.jqtree-ghost.jqtree-inside {
    margin-left: 0;
    margin-right: 48px;
}

ul.jqtree-tree.jqtree-rtl span.jqtree-border {
    right: -2px;
}

span.jqtree-dragging {
    color: #fff;
    background: #000;
    opacity: 0.6;
    cursor: pointer;
    padding: 2px 8px;
}